.headerContainer {
    background: var(--white);
    height: 6.5rem;

    display: flex;
    align-items: center;

    padding: 2rem 4rem;

    border-bottom: 1px solid var(--gray-100);


    p {
        margin: 2rem;
        padding: 0.25rem 0  0.25rem 2rem;
        border-left: 1px solid var(--gray-100);
    }

    span {
        margin-left: auto; /*vai utilizar todo espaço disponível e jogar o elemento para o outro lado da tela*/
        text-transform: capitalize; /*o primeiro caracter de cada palavra vai ficar em maiúsculo*/
    }
}